.parent {
  padding: 1rem;
  background-color: bisque;
}

.child {
  min-width: 8rem;
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 375px) {
  /*Define Styles here*/
  .parent {
    display: flex;
  }
}
